@model Laserbeam.UI.HR.Models.ChangePasswordModel
@using Laserbeam.Resource.HR.LoginResources
@{
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@section ScriptContent{
    <script src="~/Scripts/Login.js"></script>
}

@using (Html.BeginForm("ChangePasswordTo", "Account", FormMethod.Post, new { id = "form1", @class = "form-sec" }))
{
    <p style="margin: 20px auto 0px;">Enter a New Password for</p>
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.PasswordLength, new { id = "txtPasswordLength" })
    <h2 class="h2-style" style="margin-top: 5px;">@Model.UserID</h2>
    <div class="input-section">
        <div class="password-section">
            @Html.TextBoxFor(a => a.NewPassword, new { @class = "", id = "txtpassword", type = "password", placeholder = Html.DisplayNameFor(a => a.NewPassword) })
            <div class="error-section">
                <span>@Html.ValidationMessageFor(a => a.NewPassword)</span>
            </div>
        </div>
        <div class="password-section">
            @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "", id = "password1", type = "password", placeholder = Html.DisplayNameFor(a => a.ConfirmPassword) })               
            <div class="error-section">
                <span>@Html.ValidationMessageFor(a => a.ConfirmPassword)</span>
            </div>
        </div>

        <div class="clear-fix"></div>
    </div>
    <button class="log-btn" id="btnResetPassword" type="button">Login</button>
    <div id="popover_content_wrapper" style="display: none">
        <div class="alerttxt greytxt1">Your password must have:</div>
        <ul class="list-unstyled alertmsg">
            <li><i class="fa fa-check-circle-o fa-grey" id="numbers"></i> <span class="greytxt" id="textnumbers">@Model.PasswordLength or more characters</span></li>
            <li><i class="fa fa-check-circle-o fa-grey" id="character"></i><span class="greytxt" id="textcharacter">&nbsp;Upper and lowercase letters</span></li>
            <li><i class="fa fa-check-circle-o fa-grey" id="onenumber"></i><span class="greytxt" id="textonenumber">&nbsp;Atleast one number</span></li>
            <li><i class="fa fa-check-circle-o fa-grey" id="specialchar"></i><span class="greytxt" id="textspecialchar">&nbsp;Atleast one special character</span></li>
            <li class="top-pad"><span class="greytxt greytxt1">Strength: <span class="normaltext">@*Weak*@</span></span></li>
            <li>
                <div class="progress progress-line">
                    <div class="progress-bar progress-bar-danger" id="strengthbar" role="progressbar">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row container-fluid text-center errortxts">
        @Html.ValidationMessage("errorsummary")
    </div>
    <div style="display:none;">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPassword" }))
        {
            @Html.Hidden("hndForgotPasswordUserId")
            @Html.AntiForgeryToken()
        }
    </div>

}



  
