@model Laserbeam.UI.HR.Models.ForgotPasswordModel
@using Laserbeam.Resource.HR.LoginResources
@{
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}
@section ScriptContent{
    <script src="~/Scripts/Login.js"></script>
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "loginform", @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    <h2 class="h2-style">@LoginResource.HeaderForgotPassword</h2>
    <p>Enter your email address and a confirmation email will be sent to reset your password.</p>
    <div class="input-section">
        <div class="col-md-12 email-section">
            @Html.TextBoxFor(a => a.UserID, new { @class = "", placeholder = Html.DisplayNameFor(a => a.UserID) })
            <div class="error-section">
                <span>@Html.ValidationMessageFor(a => a.UserID)</span>
            </div>
        </div>

        <div class="clear-fix"></div>
    </div>
    <div class="part-2">
        @Html.ActionLink("Cancel", "Login", new { }, new { @class = "cancel-btn" })
    </div>

    <div class="part-2">
        <button class="log-btn" type="submit">Email Me</button>
    </div>
    <div>@Html.ValidationMessage("errorsummary")</div>


}
